body {
    margin-left: 20px;
}

.chat {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
}

.msg {
    background-color: lightblue;
    padding: 5px 15px;
    border-radius: 10px;
}

button {
    background-color: rgb(3, 196, 255);
    color: white;
    border-radius: 15px;
    align-tracks: center;
    border: none;
    width: 150px;
}